<template>
    <div>
        <h2>Connexion DCPM</h2>
        <form id="fromdcpm"  @submit="checkFormDCPM">
            <div class="form-group">
                <label for="ServeurDCPM">Ip ou adresse du serveur DCPM</label>
                <input type="text" v-model="ip" class="form-control" id="ServeurDCPM" placeholder="service.dcpm.com">
            </div>
            <div class="form-group">
                    <label for="Login">Nom d'utilisateur ou adrese mail</label>
                    <input type="text" v-model="login" class="form-control" id="Login" placeholder="nom.prenom@dcpm.com">
            </div>
            <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input type="password" v-model="password" class="form-control" id="password" placeholder="***">
            </div>
            <button type="submit" class="btn btn-primary" id="connexion-dcpm">Connexion DCPM</button>
        </form>
    </div>
</template>

<script>
import User from '@/user.js';
import router from '@/router.js';
import API from '@/API.js';


export default {
    data: () => {
        return {
            errors: [],
            ip: null,
            login: null,
            password: null
        }
    },
    methods: {
        checkFormDCPM: function(e) {
            e.preventDefault();
            if (this.$data.ip && this.$data.login && this.$data.password) {
                this.connexionDCPM();
            }
            this.$data.errors = [];
            if (!this.$data.ip) {
                this.$data.errors.push('Vous devez ajouter l\'adresse du serveur!');
            }
            if (!this.$data.login) {
                this.$data.errors.push('Vous devez ajouter votre login!');
            }
            if (!this.$data.password) {
                this.$data.errors.push('Vous devez ajouter votre mots de passe!');
            }
            if(this.$data.errors.length > 0){
                this.$root.$emit('informationModal', 'Connexion erreur', this.$data.errors.join(' '));
            }
        },
        connexionDCPM: function() {
            API.getConnexion({...this.$data, ...{mode: 'DCPM'}}).then((r) => {
                 if(r.data.token){
                    User.saveData({token: r.data.token, ip: this.$data.ip, mode: 'DCPM'});
                    router.push('project-list');
                } else {
                    this.$root.$emit('informationModal', 'Connexion erreur', 'Le pseudo ou le mot de passe n\'est pas valide');
                }
            }).catch((err) => {
                this.$root.$emit('informationModal', 'Connexion erreur', 'Erreur de connexion avec les information émises : '+err)
            });
        }
    }
}
</script>


<style scoped>

</style>
