<template>
    <div>
        <h2>Connexion Trello</h2>
        <form id="fromtrello"  @submit="checkFormTrello">
            <div class="alert alert-danger" v-if="errors.length" role="alert">
                <b>Vous avez une ou des erreurs dans le formulaire :</b>
                <ul>
                    <li v-for="error in errors" :key="error.id">{{ error }}</li>
                </ul>
            </div>
            <div class="form-group">
                <label for="trelloKey">Clé</label>
                <input type="text" v-model="key" class="form-control" id="trelloKey" placeholder="clée trello">
            </div>
            <div class="form-group">
                    <label for="trelloToken">Jeton/Token</label>
                    <input type="text" v-model="token" class="form-control" id="trelloToken" placeholder="token trello">
                </div>
            <button id="connexion-trello" type="submit" class="btn btn-primary">Connexion Trello</button>
        </form>
    </div>
</template>

<script>
import User from '@/user.js';
import API from '@/API.js';
import router from '@/router.js';

export default {
    data: () => {
        return {
            errors: [],
            key: null,
            token: null
        }
    },
    methods: {
        checkFormTrello: function (e) {
            e.preventDefault();
             if (this.$data.key && this.$data.token) {
                this.trelloConnexion();
            }
            this.$data.errors = [];
            if (!this.$data.key) {
                this.$data.errors.push('Vous devez ajouter une clé!');
            }
            if (!this.$data.token) {
                this.$data.errors.push('Vous devez ajouter le token! https://trello.com/app-key/');
            }
            if(this.$data.errors.length > 0){
                this.$root.$emit('informationModal', 'Connexion erreur', this.$data.errors.join(' '));
            }
        },
        trelloConnexion: function() {
            API.getConnexion({mode: 'trello', token: this.$data.token, key: this.$data.key}).then(()=>{
                User.saveData({token: this.$data.token, trellokey: this.$data.key, mode: 'trello'});
                router.push('project-list');
            }).catch((err) => {
                this.$root.$emit('informationModal', 'Connexion erreur', err)
            })
        }
    }
}
</script>


<style scoped>

</style>
