<template>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="#">{{message}}</a>
        </nav>
    </div>
</template>

<script>
export default {
    props: [
        'message'
    ]
}
</script>

<style scoped>

</style>
