<template>
    <div>
        <Header title="Modifier un groupe" active='group'></Header>
        <div class="container" id="list-group">
            <form  id="formgroup" @submit="checkFormGroup">
                <div class="form-group">
                    <label for="name">Nom</label>
                    <input name="name" v-model="name" type="text" class="form-control" id="name" v-bind:placeholder="name">
                </div>
                <div class="form-group">
                    <b-form-group label="Droits:">
                    <b-form-checkbox-group
                        id="rights-selected"
                        v-model="rightsSelected"
                        :options="allRights"
                        name="select1"
                    ></b-form-checkbox-group>
                    </b-form-group>
                </div>
                <button type="submit" class="btn btn-primary" id="update-group">Modifier</button>
            </form>
        </div>
    </div>
</template>

<script>
import Header from '@/components/Header';
import User from '@/user.js';
import Group from '@/model/Group';
import API from '@/API.js';
import router from '@/router.js';

export default {
    data: function() {
        return {
            name: null,
            rightsSelected: [],
            id: null,
            allRights: []
        }
    },
    components: {
        Header
    },
    methods: {
        update: function (group) {
            API.updateGroup(User, group).then(() => {
                this.$root.$emit('informationModal', 'Enregistré!', "Le groupe " + " à été enregistré!");
                setTimeout(() => { router.push('group-list'); }, 2000);
            }).catch((err) => {
                this.$root.$emit('informationModal', 'Erreur lors de l\'enregistrement!', err);
            })
        },
        checkFormGroup: function (e) {
            e.preventDefault();
            let errors = [];
            (!this.$data.name) ? errors.push('Le group doit avoir un nom!') : null;
            (!this.$data.rightsSelected) ? errors.push('Le group doit au moins un droit!') : null;

            if(errors.length){
                this.$root.$emit('informationModal', 'Erreur du formulaire!', errors.join(" "));
                return false;
            }
            else {
                let group  = new Group();
                group.id = this.$data.id;
                group.name = this.$data.name;
                group.rights = this.$data.rightsSelected;
                group.users = null;
                this.update(group);
            }
        }
    },
    created: function() {
        let group = this.$route.params.group;
        this.$data.id = group.id;
        this.$data.name = group.name;
        this.$data.groupsSelected = group.rights;
        API.getRights(User).then((r) => {
            r.data.forEach(right => {
                this.$data.allRights.push({text: right.route+' '+right.methode, value: right.id});
            });
        }).catch((err) => {
            this.$root.$emit('informationModal', 'Erreur lors du chargement des groups!', err);
        })
    },
}
</script>
