<template>
    <div>
        <Header title="List group" active='groupe'></Header>
        <Search></Search>
        <div class="row" v-if="rights.group.post">
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-success" id="new-group-button" v-on:click="createGroup($event)">Nouvel groupe</button>
            </div>
        </div>

        <div class="row" >
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 card" v-for="group in groups" v-bind:key="group.id">
                <GroupCard v-if="showElement(group)" v-bind:group="group"></GroupCard>
            </div>
        </div>
    </div>
</template>

<script>
import Header from '@/components/Header';
import GroupCard from '@/components/group/GroupCard';
import User from '@/user.js';
import API from '@/API.js';
import Search from '@/components/Search';
import Group from '@/model/Group.js';
import router from '@/router.js';

export default {
    data: function(){
        return {
            groups: [],
            rights:  User.getTempRight(),
            search: ''
        }
    },
    components: {
        Header,
        GroupCard,
        Search
    },
    created: function() {
        API.getGroups(User).then((r) => {
            this.$data.groups = [];
            r.data.forEach(apiGroup => {
                let group = new Group();
                switch(User.getMode()){
                    case 'DCPM': group.loadFromDCPM(apiGroup); break;
                }
                this.$data.groups.push(group);
            });
        }).catch((err) => {
            this.$root.$emit('informationModal', 'Erreur de récupération', err)
        })
        this.$root.$on('search', this.searchList)
        this.$root.$on('deleteGroup', this.deleteGroup)
        User.getRights()
        .then((newRights) => {this.$data.rights = newRights;})
        .catch(() => {this.$data.rights = User.getTempRight();})
    },
    methods: {
        deleteGroup(group){
            this.$root.$emit('choseModal', 'Supprimer le groupe', 'Voulez-vous supprimer le groupe '+group.name+'?','Ne rien faire', 'Fermer', 'Supprimer', null, null,
            () => {
                API.deleteGroup(User, group).then(() => {
                    this.$data.groups.splice(this.$data.groups.indexOf(group), 1);
                }).catch((err) => {
                    this.$root.$emit('informationModal', 'Erreur de suppression!', err);
                })
            });
        },
        createGroup(){
            router.push('group-create');
        },
        searchList(value) {
            this.$data.search = value;
        },
        showElement(group){
            return group.name.toUpperCase().indexOf(this.$data.search.toUpperCase()) >= 0
        }
    },
    destroyed() {
         this.$root.$off('search', this.searchList)
        this.$root.$off('deleteGroup', this.deleteGroup)
    }
}
</script>
