<template>
    <div>
        <Header title="Créer un groupe" active='group'></Header>
        <div class="container" id="group-create">
            <form  id="formlist" @submit="checkFormGroup">
                <div class="form-group">
                    <label for="name">Nom du group</label>
                    <input name="name" v-model="name" type="text" class="form-control" id="name" placeholder="mon ticket">
                </div>
                <div class="form-rights">
                    <b-form-group label="Droits:">
                    <b-form-checkbox-group
                        id="rights-selected"
                        v-model="rightsSelected"
                        :options="allRights"
                        name="select1"
                    ></b-form-checkbox-group>
                    </b-form-group>
                </div>
                <button type="submit" class="btn btn-primary" id="create-group">Créer</button>
            </form>
        </div>
    </div>
</template>

<script>
import Header from '@/components/Header';
import User from '@/user.js';
import Group from '@/model/Group';
import API from '@/API.js';
import router from '@/router.js';

export default {
    data: function() {
        return {
            name: null,
            rightsSelected: null,
            id: null,
            allRights: []
        }
    },
    components: {
        Header
    },
     created: function() {
        API.getRights(User).then((r) => {
            r.data.forEach(right => {
                this.$data.allRights.push({text: right.route+' '+right.methode, value: right.id});
            });
        }).catch((err) => {
            this.$root.$emit('informationModal', 'Erreur lors du chargement des groups!', err);
        })
    },
    methods: {
        create: function (group) {
            API.createGroup(User, group).then(() => {
                this.$root.$emit('informationModal', 'Enregistré!', "Le groupe " + " à été enregistré!");
                setTimeout(() => { 
                    router.push('/group-list');
                 }, 2000);
            }).catch((err) => {
                this.$root.$emit('informationModal', 'Erreur lors de l\'enregistrement!', err);
            })
        },
        checkFormGroup: function (e) {
            e.preventDefault();
            if (this.$data.name && this.$data.rightsSelected) {
                let group = new Group();
                group.name = this.$data.name;
                group.rights = this.$data.rightsSelected;
                this.create(group)
                return true;
            }
            let errors = [];
            !this.$data.name ? errors.push('Le groupe doit avoir un nom!'):null;
            !this.$data.rightsSelected ? errors.push('Le groupe doit avoir au moins un droit!'):null;
            this.$root.$emit('informationModal', 'Erreur du formulaire!', errors.join(" "));
            return false;
        },
    }
}
</script>
