<template>
    <div>
        <div class="card-body">
            <h5 class="card-title">{{ project.name }} <button type="button" class="btn btn-warning" v-if="rights.project.put" v-on:click="editProject()"><i class="fas fa-pen"></i></button></h5>
            <p class="card-text">{{ project.desc }}</p>
            <div class="action-buttons">
                <button v-if="rights.ticket.get" class="btn btn-primary" v-on:click="showProject()">Go</button>
                <span class="last-activite" >Activité : {{ project.dateLastActivity.toLocaleDateString() }}</span>
                <span class="btn btn-info" v-if="rights.list.get"  v-on:click="showList()">Lists</span>
                <button v-if="rights.project.delete" class="btn btn-danger" v-on:click="deleteProject()" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash"></i></button>
            </div>
            
        </div>
    </div>
</template>

<script>
import User from '@/user.js';
import router from '@/router.js';

export default {
    props: {
        'project': Object
    },
    data: function() {
        return {
            rights:  User.getTempRight()
        }
    },
    methods: {
        deleteProject() {
            this.$root.$emit('deleteProject', this.$props.project)
        },
        editProject() {
            router.push({name: 'project-update', params: {project: this.$props.project}})
        },
        showList(){
            router.push({name: 'list-list', params: {project: this.$props.project}});
        },
        showProject(){
            router.push({name: 'ticket-list', params: {project: this.$props.project}});
        }
    },
    created() {
        User.getRights()
        .then((newRights) => {this.$data.rights = newRights;})
        .catch(() => {this.$data.rights = User.getTempRight();})
    }
}
</script>

<style scoped>
.action-buttons {
    margin-top: 16px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.action-buttons > * {
    margin: 4px;
}
.last-activite {
    font-size: 0.9rem;
    padding: 4px;
    background-color:darkseagreen;
    border-radius: 4px;
    vertical-align:text-bottom;
}
</style>
