<template>
    <div>
        <Header title="List de list" active='list'></Header>
        <Search></Search>
        <div class="row" v-if="rights.list.post" id="new-button">
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-success" id="new-list-button" v-on:click="createList($event)">Nouvelle list</button>
            </div>
        </div>

        <div class="row" id="card-list">
            <div class="list-card" v-for="list in lists" v-bind:key="list.id" >
                <ListCard v-if="showElement(list)" v-bind:list="list"></ListCard>
            </div>
        </div>
    </div>
</template>

<script>
import Header from '@/components/Header';
import User from '@/user.js';
import List from '@/model/List';
import API from '@/API.js';
import router from '@/router.js';
import ListCard from '@/components/list/ListCard';
import Search from '@/components/Search';

export default {
    data: function(){
        return {
            lists: [],
            rights:  User.getTempRight(),
            project: null,
            search: ''
        }
    },
    components: {
        Header,
        ListCard,
        Search
    },
    created: function(){
        this.$data.project = this.$route.params.project;
        API.getList(User, this.$data.project.id).then((r) => {
            this.$data.lists = [];
            for (var i = 0, len = r.data.length; i < len; i++) {
                let list = new List();
                switch(User.getMode()){
                    case 'trello': list.loadFromTrello(r.data[i]); break;
                    case 'DCPM': list.loadFromDCPM(r.data[i]); break;
                }
                this.$data.lists.push(list);
            }
        }).catch((err)=> {
            this.$root.$emit('informationModal', 'Erreur de récupération', err)
        })
        this.$root.$on('search', this.searchList)
        this.$root.$on('deleteList', this.deleteList)
        User.getRights()
        .then((newRights) => {this.$data.rights = newRights;})
        .catch(() => {this.$data.rights = User.getTempRight();})
    },
    destroyed() {
        this.$root.$off('deleteList', this.deleteList)
        this.$root.$off('search', this.searchList)
    },
    methods: {
        createList(){
            router.push({name: 'list-create', params: {project: this.$data.project}});
        },
        deleteList(list){
            this.$root.$emit('choseModal', 'Supprimer la liste', 'Voulez-vous supprimer ou fermer la liste '+list.name+'?','Ne rien faire', 'Ne rien faite', 'Supprimer', null, null,
            () => {
                API.deleteList(User, list).then(() => {
                    this.$data.lists.splice(this.$data.lists.indexOf(list), 1);
                }).catch((err) => {
                    this.$root.$emit('informationModal', 'Erreur de suppression!', err);
                })
            });
        },
        searchList(value) {
            this.$data.search = value;
        },
        showElement(list){
            return list.name.toUpperCase().indexOf(this.$data.search.toUpperCase()) >= 0
        }
    },
}
</script>

<style scoped>
#new-button {
    margin: 16px;
}

#card-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.list-card {
    width: 90vw;
    max-width: 400px;
    box-shadow: 0 0 3px #aaa;
    margin: 16px;
    border-radius: 4px;
}
</style>