<template>
    <div>
        <Header title="Modifier une liste" active='list'></Header>
        <div class="container" id="list-project">
            <form  id="formlist" @submit="checkFormList">
                <div class="form-group">
                    <label for="name">Nom de la liste</label>
                    <input name="name" v-model="name" type="text" class="form-control" id="name" v-bind:placeholder="name">
                </div>
                <div class="form-group">
                    <label for="pos">Position</label>
                    <input name="pos" v-model="pos" type="number" class="form-control" id="pos" v-bind:placeholder="pos">
                </div>
                <button type="submit" class="btn btn-primary" id="update-list">Modifier</button>
            </form>
        </div>
    </div>
</template>

<script>
import Header from '@/components/Header';
import User from '@/user.js';
import List from '@/model/List';
import Project from '@/model/Project';
import API from '@/API.js';
import router from '@/router.js';

export default {
    data: function() {
        return {
            name: null,
            pos: null,
            id_project: null,
            id: null
        }
    },
    components: {
        Header
    },
    created: function() {
        let list = this.$route.params.list;
        this.$data.name = list.name;
        this.$data.id = list.id;
        this.$data.id_project = list.id_project;
        this.$data.pos = list.position;
    },
    methods: {
        checkFormList: function (e) {
            e.preventDefault();
            if (this.$data.name && this.$data.id_project && this.$data.pos) {
                let list  = new List();
                list.id = this.$data.id;
                list.name = this.$data.name;
                list.position = this.$data.pos;
                list.id_project = this.$data.id_project;
                this.update(list)
                return true;
            }
            let errors = [];
            !this.$data.name ? errors.push('La liste doit avoir un nom!'):null;
            !this.$data.pos ? errors.push('La liste doit avoir une position!'):null;
            !this.$data.id_project ? errors.push('La liste doit avoir un projet!'):null;
             this.$root.$emit('informationModal', 'Erreur du formulaire!', errors.join(" "));
            return false;
        },
        update: function (list) {
            API.updateList(User, list).then(() => {
                this.$root.$emit('informationModal', 'Modifié!', "La liste " + list.name + " à été modifié!");
                let actualProject = new Project();
                actualProject.id = list.id_project;
                setTimeout(() => { 
                    router.push({name: 'list-list', params: {project: actualProject}});
                }, 2000);
            }).catch((err) => {
                this.$root.$emit('informationModal', 'Erreur lors de la modification!', err);
            })
        }
    }
}
</script>

<style>

</style>