<template>
    <div>
        <Header title="Créer une liste" active='list'></Header>
        <div class="container" id="list-project">
            <form  id="formlist" @submit="checkFormList">
                <div class="form-group">
                    <label for="name">Nom de la liste</label>
                    <input name="name" v-model="name" type="text" class="form-control" id="name" placeholder="ma liste">
                </div>
                <div class="form-group">
                    <label for="position">Position</label>
                    <input name="position" v-model="position" type="number" class="form-control" id="desc" placeholder="1">
                </div>
                <button type="submit" class="btn btn-primary" id="create-list">Créer</button>
            </form>
        </div>
    </div>
</template>

<script>
import Header from '@/components/Header';
import User from '@/user.js';
import List from '@/model/List';
import API from '@/API.js';
import router from '@/router.js';

export default {
    data: function() {
        return {
            name: null,
            position: null,
            id: null,
            project: null
        }
    },
    components: {
        Header
    },
    methods: {
        create: function (list) {
            API.createList(User, list).then(() => {
                this.$root.$emit('informationModal', 'Enregistré!', "La liste " + " à été enregistré!");
                setTimeout(() => { 
                    router.push({name: 'list-list', params: {project: this.$data.project}});
                 }, 2000);
            }).catch((err) => {
                this.$root.$emit('informationModal', 'Erreur lors de l\'enregistrement!', err);
            })
        },
        checkFormList: function (e) {
            e.preventDefault();
            if (this.$data.name && this.$data.position) {
                let list = new List();
                list.name = this.$data.name;
                list.id_project = this.$data.project.id;
                list.position = this.$data.position;
                this.create(list)
                return true;
            }
            let errors = [];
            !this.$data.name ? errors.push('La liste doit avoir un nom!'):null;
            !this.$data.position ? errors.push('La liste doit avoir une position!'):null;
             this.$root.$emit('informationModal', 'Erreur du formulaire!', errors.join(" "));
            return false;
        },
    },
    created: function() {
        this.$data.project = this.$route.params.project;
    }
}
</script>
