<template>
    <div>
        <div class="card-body">
            <h5 class="card-title">{{ list.name }} <button type="button" class="btn btn-warning" v-if="rights.list.put" v-on:click="editList()"><i class="fas fa-pen"></i></button></h5>
            <p class="card-text">Position : {{ list.position }}</p>
            <p class="card-text">Project : {{ list.id_project }}</p>
            <button v-if="rights.list.delete" class="btn btn-danger" v-on:click="deleteList()" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash"></i></button>
        </div>
    </div>
</template>

<script>
import User from '@/user.js';
import router from '@/router.js';


export default {
    props: {
        'list': Object
    },
    data: function() {
        return {
            rights:  User.getTempRight()
        }
    },
    methods: {
        deleteList() {
            this.$root.$emit('deleteList', this.$props.list)
        },
        editList() {
            router.push({name: 'list-update', params: {list: this.$props.list}})
        }
    },
    created() {
        User.getRights()
        .then((newRights) => {this.$data.rights = newRights;})
        .catch(() => {this.$data.rights = User.getTempRight();})
    }
}
</script>
