<template>
    <div>
        <div class="card-body">
            <h5 class="card-title">{{ user.login }} <button type="button" class="btn btn-warning" v-if="rights.user.put" v-on:click="editUser()"><i class="fas fa-pen"></i></button></h5>
            <h6>Groups:</h6>
            <ul>
                <li v-for="group in groups" v-bind:key="group.id">
                    {{ group.name }}
                </li>
            </ul>
            <button v-if="rights.user.delete" class="btn btn-danger" v-on:click="deleteUser()" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash"></i></button>
        </div>
    </div>
</template>

<script>
import User from '@/user.js';
import router from '@/router.js';

export default {
    props: {
        'user': Object
    },
    data: function() {
        return {
            rights:  User.getTempRight(),
            groups: null
        }
    },
    methods: {
        deleteUser() {
            this.$root.$emit('deleteUser', this.$props.user)
        },
        editUser() {
            router.push({name: 'user-update', params: {user: this.$props.user}})
        }
    },
    created() {
        User.getRights()
        .then((newRights) => {this.$data.rights = newRights;})
        .catch(() => {this.$data.rights = User.getTempRight();})
        this.$data.groups = this.$props.user.groups;
    }
}
</script>

<style>

</style>
