<template>
    <div>
        <Header title="List de projet" active='project'></Header>
        <Search></Search>
        <div class="row" v-if="rights.project.post" id="new-button">
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-success" id="new-project-button" v-on:click="createProject($event)">Nouveau projet</button>
            </div>
        </div>

        <div class="row" id="card-list">
            <div class="list-card col-xl-3 col-lg-4 col-md-6 col-sm-12" v-for="project in projects" v-bind:key="project.id" :class="project.color">
                <ProjectCard v-if="showElement(project)" v-bind:project="project"></ProjectCard>
            </div>
        </div>
    </div>
</template>

<script>

import Header from '@/components/Header';
import ProjectCard from '@/components/project/ProjectCard';
import Search from '@/components/Search';
import User from '@/user.js';
import API from '@/API.js';
import Project from '@/model/Project.js';
import router from '@/router.js';


export default {
    data: function(){
        return {
            projects: [],
            rights:  User.getTempRight(),
            search: ''
        }
    },
    components: {
        Header,
        ProjectCard,
        Search
    },
    created: function() {
        API.getProjectList(User).then((r) => {
            this.$data.projects = [];
            r.data.forEach(apiProject => {
                let project = new Project();
                switch(User.getMode()){
                    case 'trello': project.loadFromTrello(apiProject); break;
                    case 'DCPM': project.loadFromDCPM(apiProject); break;
                }
                this.$data.projects.push(project);
            });
        }).catch((err) => {
            this.$root.$emit('informationModal', 'Erreur de récupération', err)
        })
        this.$root.$on('deleteProject', this.deleteProject)
        this.$root.$on('search', this.searchList)
        User.getRights()
        .then((newRights) => {this.$data.rights = newRights;})
        .catch(() => {this.$data.rights = User.getTempRight();})
    },
    methods: {
        deleteProject(project){
            this.$root.$emit('choseModal', 'Supprimer le projet', 'Voulez-vous supprimer ou fermer le projet '+project.name+'?','Ne rien faire', 'Fermer', 'Supprimer', null, () => {
                API.closeProject(User, project).then(() => {
                    this.$data.projects.splice(this.$data.projects.indexOf(project), 1);
                }).catch((err) => {
                    this.$root.$emit('informationModal', 'Erreur du fermeture!', err);
                })
            },
            () => {
                API.deleteProject(User, project).then(() => {
                    this.$data.projects.splice(this.$data.projects.indexOf(project), 1);
                }).catch((err) => {
                    this.$root.$emit('informationModal', 'Erreur de suppression!', err);
                })
            });
        },
        createProject(){
            router.push('project-create');
        },
        searchList(value) {
            this.$data.search = value;
        },
        showElement(project){
            return project.name.toUpperCase().indexOf(this.$data.search.toUpperCase()) >= 0
        }
    },
    destroyed() {
        this.$root.$off('deleteProject', this.deleteProject)
        this.$root.$off('search', this.searchList)
    }  
}
</script>

<style scoped>

#new-button {
    margin: 16px;
}

#card-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.list-card {
    width: 90vw;
    max-width: 400px;
    box-shadow: 0 0 3px #aaa;
    margin: 16px;
    border-radius: 4px;
}

.project-blue {
    background-color: #aaf;
} 
.project-orange {
    background-color: #fda;
}
.project-green {
    background-color: #afa;
} 
.project-red {
    background-color: #faa;
}
.project-purple {
    background-color: #faf;
} 
.project-pink {
    background-color: #f5b;
}
.project-lime {
    background-color: #aaa;
}
.project-sky {
    background-color: #ddf;
} 
.project-grey {
    background-color: #666;
}

</style>
