<template>
    <div>
        <Header title="Modifier un projet" active='project'></Header>
        <div class="container" id="list-project">
            <form  id="formproject" @submit="checkFormProject">
                <div class="form-group">
                    <label for="name">Nom du projet</label>
                    <input name="name" v-model="name" type="text" class="form-control" id="name" v-bind:placeholder="name">
                </div>
                <div class="form-group">
                    <label for="desc">Description</label>
                    <input name="desc" v-model="desc" type="text" class="form-control" id="desc" v-bind:placeholder="desc">
                </div>
                <div class="form-group">
                    <label for="color">Couleur</label>
                    <select name="color" v-model="color" class="form-control" id="color">
                        <option value="" selected disabled hidden>Choisir une couleur</option>
                        <option value="blue">Bleu</option>
                        <option value="orange">Orange</option>
                        <option value="green">Vert</option>
                        <option value="red">Rouge</option>
                        <option value="purple">Violet</option>
                        <option value="pink">Rose</option>
                        <option value="lime">Lime</option>
                        <option value="sky">Ciel</option>
                        <option value="grey">Gris</option>
                        </select>
                </div>
                <button type="submit" class="btn btn-primary" id="create-project">Modifier</button>
            </form>
        </div>
    </div>
</template>

<script>
import Header from '@/components/Header';
import User from '@/user.js';
import Project from '@/model/Project';
import API from '@/API.js';
import router from '@/router.js';

export default {
    data: function() {
        return {
            name: null,
            desc: null,
            color: null,
            id: null
        }
    },
    components: {
        Header
    },
    created: function() {
        let project = this.$route.params.project;
        this.$data.name = project.name;
        this.$data.id = project.id;
        this.$data.desc = project.desc;
        this.$data.color = project.color;
    },
    methods: {
        checkFormProject: function (e) {
            e.preventDefault();
            if (this.$data.desc && this.$data.name && this.$data.color) {
                let project = new Project();
                project.id = this.$data.id;
                project.name = this.$data.name;
                project.desc = this.$data.desc;
                project.color = this.$data.color;
                project.dateLastActivity = new Date();
                this.update(project)
                return true;
            }
            let errors = [];
            !this.$data.name ? errors.push('Le projet doit avoir un nom!'):null;
            !this.$data.desc ? errors.push('Le projet doit avoir une description!'):null;
            !this.$data.color ? errors.push('Le projet doit avoir une couleur!'):null;
             this.$root.$emit('informationModal', 'Erreur du formulaire!', errors.join(" "));
            return false;
        },
        update: function (project) {
            API.updateProject(User, project).then(() => {
                this.$root.$emit('informationModal', 'Modifié!', "Le projet " + project.name + " à été modifié!");
                setTimeout(() => { router.push('project-list'); }, 2000);
            }).catch((err) => {
                this.$root.$emit('informationModal', 'Erreur lors de la modification!', err);
            })
        }
    }
}
</script>

<style>

</style>
