<template>
    <div>
        <Header title="Créer un projet" active='project'></Header>
        <div class="container" id="list-project">
            <form  id="formproject" @submit="checkFormProject">
                <div class="form-group">
                    <label for="name">Nom du projet</label>
                    <input name="name" v-model="name" type="text" class="form-control" id="name" placeholder="mon projet">
                </div>
                <div class="form-group">
                    <label for="desc">Description</label>
                    <input name="desc" v-model="desc" type="text" class="form-control" id="desc" placeholder="mon premier projet sur dcpm">
                </div>
                <div class="form-group">
                    <label for="color">Couleur</label>
                    <select name="color" v-model="color" class="form-control" id="color">
                        <option value="" selected disabled hidden>Choisir une couleur</option>
                        <option value="blue">Bleu</option>
                        <option value="orange">Orange</option>
                        <option value="green">Vert</option>
                        <option value="red">Rouge</option>
                        <option value="purple">Violet</option>
                        <option value="pink">Rose</option>
                        <option value="lime">Lime</option>
                        <option value="sky">Ciel</option>
                        <option value="grey">Gris</option>
                        </select>
                </div>
                <button type="submit" class="btn btn-primary" id="create-project">Créer</button>
            </form>
        </div>
    </div>
</template>

<script>
import Header from '@/components/Header';
import User from '@/user.js';
import Project from '@/model/Project';
import API from '@/API.js';
import router from '@/router.js';

export default {
    data: function() {
        return {
            name: null,
            desc: null,
            color: null,
            id: null
        }
    },
    components: {
        Header
    },
    methods: {
        create: function (project) {
            API.createProject(User, project).then(() => {
                this.$root.$emit('informationModal', 'Enregistré!', "Le projet " + " à été enregistré!");
                setTimeout(() => { router.push('project-list'); }, 2000);
            }).catch((err) => {
                this.$root.$emit('informationModal', 'Erreur lors de l\'enregistrement!', err);
            })
        },
        checkFormProject: function (e) {
            e.preventDefault();
            if (this.$data.desc && this.$data.name && this.$data.color) {
                let project = new Project();
                project.name = this.$data.name;
                project.desc = this.$data.desc;
                project.color = this.$data.color;
                this.create(project)
                return true;
            }
            let errors = [];
            !this.$data.name ? errors.push('Le projet doit avoir un nom!'):null;
            !this.$data.desc ? errors.push('Le projet doit avoir une description!'):null;
            !this.$data.color ? errors.push('Le projet doit avoir une couleur!'):null;
             this.$root.$emit('informationModal', 'Erreur du formulaire!', errors.join(" "));
            return false;
        }
    }
}
</script>

<style>

</style>
