<template>
    <div>
        <Header title="List rights" active='right'></Header>
        <Search></Search>
        <div class="row" >
            <div v-bind:class="dbRight.methode" class="col-xl-3 col-lg-4 col-md-6 col-sm-12 card" v-for="dbRight in dbRights" v-bind:key="dbRight.id">
                <h2  v-if="showElement(dbRight)">{{dbRight.route}} {{dbRight.methode}}</h2>
            </div>
        </div>
    </div>
</template>

<script>
import Header from '@/components/Header';
import User from '@/user.js';
import API from '@/API.js';
import Search from '@/components/Search';
import Right from '@/model/Right.js';

export default {
    data: function(){
        return {
            dbRights: [],
            rights:  User.getTempRight(),
            search: ''
        }
    },
    components: {
        Header,
        Search
    },
    created: function() {
        API.getRights(User).then((r) => {
            this.$data.dbRights = [];
            r.data.forEach(apiRight => {
                let right = new Right();
                switch(User.getMode()){
                    case 'DCPM': right.loadFromDCPM(apiRight); break;
                }
                this.$data.dbRights.push(right);
            });
        }).catch((err) => {
            this.$root.$emit('informationModal', 'Erreur de récupération', err)
        })
        User.getRights()
        .then((newRights) => {this.$data.rights = newRights;})
        .catch(() => {this.$data.rights = User.getTempRight();})
        this.$root.$on('search', this.searchList)
    },
    destroyed() {
        this.$root.$off('search', this.searchList)
    },
    methods: {
        searchList(value) {
            this.$data.search = value;
        },
        showElement(right){
            return right.route.toUpperCase().indexOf(this.$data.search.toUpperCase()) >= 0
            || right.methode.toUpperCase().indexOf(this.$data.search.toUpperCase()) >= 0
        }
    },
}
</script>

<style scoped>
    .get {
        background-color: #CCF;
    }
    .post {
        background-color: #CFC;
    }
    .put {
        background-color: #FFC;
    }
    .delete {
        background-color: #FCC;
    }
</style>
