<template>
    <div>
        <ConnexionNav message="DCPM-Connexion"></ConnexionNav>
        <div class="container">
            <ConnexionTrello></ConnexionTrello>
            <ConnexionDcpm></ConnexionDcpm>
        </div>
    </div>    
</template>

<script>
import ConnexionNav from '@/components/connexion/ConnexionNav';
import ConnexionTrello from '@/components/connexion/ConnexionTrello';
import ConnexionDcpm from '@/components/connexion/ConnexionDcpm';

export default {
    data: () => {
        return {
            
        }
    },
    methods: {
    },
    components: {
        ConnexionNav,
        ConnexionTrello,
        ConnexionDcpm
    }
}
</script>

<style scoped>

</style>

