<template>
    <div>
        <ConnexionNav message="DCPM-Deconnexion"></ConnexionNav>
        <div class="container">
            <div class="col-md-12 text-center"> 
                <h2>Vous avez été déconnecté</h2>
                <button id="connexionButton" name="connexionButton" class="btn btn-primary"  v-on:click="goToConnexion($event)">Connexion</button> 
            </div>
        </div>
    </div>
</template>

<script>
import ConnexionNav from '@/components/connexion/ConnexionNav';
import router from '@/router.js';

export default {
    components: {
        ConnexionNav
    },
    methods: {
        goToConnexion: function(e) {
             e.preventDefault();
             router.push({name: 'connexion'})
        }
    },
    created: function() {
        window.localStorage.clear();
    }
}
</script>

<style scoped>

</style>
