<template>
    <div>
        <ConnexionNav message="DCPM-Home"></ConnexionNav>
        <div id="content" class="container">
            <div class="col-md-12 text-center"> 
                <h1 id="welcom-message" class="alert alert-success">Bienvenu sur DCPM-Lite V0.1</h1>
                <button id="connexionButton" name="connexionButton" class="btn btn-primary"   v-on:click="goToConnexion($event)">Connexion</button> 
            </div>
        </div>
    </div>
</template>

<script>
import ConnexionNav from '@/components/connexion/ConnexionNav';
import router from '@/router.js';

export default {
    components: {
        ConnexionNav
    },
    data: function() {
        return {}
    },
    methods: {
        goToConnexion: function(e) {
            e.preventDefault();
            router.push('connexion');
        }
    }
}
</script>

<style scoped>
    #content {
        margin-top: 16px;
    }
    #welcom-message {
        font-size: 1rem;
    }
</style>

