<template>
    <div>
        <ConnexionNav message="DCPM-Access denied"></ConnexionNav>
        <div class="container">
            <div class="col-md-12 text-center" v-if="!mode"> 
                <p class="alert alert-danger">Vous n'êtes pas connecté!</p>
                <button id="connexionButton" name="connexionButton" class="btn btn-primary"   v-on:click="goToConnexion($event)">Connexion</button> 
            </div>
            <div class="col-md-12 text-center" v-if="mode"> 
                <p class="alert alert-danger">Vous n'avez pas le droit d'accèder à la page!</p>
                <button id="connexionButton" name="connexionButton" class="btn btn-primary"  v-if="mode" v-on:click="goToConnexion($event)">Liste de projet</button> 
            </div>
        </div>
    </div>
</template>

<script>
import ConnexionNav from '@/components/connexion/ConnexionNav';
import User from '@/user.js';
import router from '@/router.js';

export default {
    components: {
        ConnexionNav
    },
    data: function() {
        return {
            mode: User.getMode()
        }
    },
    methods: {
        goToConnexion: function(e) {
            e.preventDefault();
            router.push('connexion');
        }
    }
}
</script>

<style>

</style>
