<template>
    <div>
        <ConnexionNav message="Page inexistante"></ConnexionNav>
        <div class="container">
            <h1>La page que vous cherchez n'existe pas !</h1>
            <button id="connexionButton" name="connexionButton" class="btn btn-primary"  v-on:click="goToConnexion($event)">Retours vers la connexion</button> 
        </div>
    </div>
</template>

<script>
import ConnexionNav from '@/components/connexion/ConnexionNav';
import router from '@/router.js';

export default {
    methods: {
        goToConnexion: function(e) {
            e.preventDefault();
            router.push('connexion');
        }
    },
    components: {
        ConnexionNav
    }
}
</script>

<style scoped>

</style>
