<template>
    <div>
        <Header title="Créer un ticket" active='ticket'></Header>
        <div class="container" id="ticket-create">
            <form  id="formlist" @submit="checkFormTicket">
                <div class="form-group">
                    <label for="name">Nom du ticket</label>
                    <input name="name" v-model="name" type="text" class="form-control" id="name" placeholder="mon ticket">
                </div>
                <div class="form-group">
                    <label for="desc">Description</label>
                    <input name="desc" v-model="desc" type="text" class="form-control" id="desc" placeholder="Ma description">
                </div>
                <button type="submit" class="btn btn-primary" id="create-list">Créer</button>
            </form>
        </div>
    </div>
</template>

<script>
import Header from '@/components/Header';
import User from '@/user.js';
import Ticket from '@/model/Ticket';
import API from '@/API.js';
import router from '@/router.js';

export default {
    data: function() {
        return {
            name: null,
            desc: null,
            id: null,
            list: null,
            project: null,
        }
    },
    components: {
        Header
    },
    methods: {
        create: function (ticket) {
            API.createTicket(User, ticket).then(() => {
                this.$root.$emit('informationModal', 'Enregistré!', "Le ticket " + " à été enregistré!");
                setTimeout(() => { 
                    router.push({name: 'ticket-list', params: {project: this.$data.project}});
                 }, 2000);
            }).catch((err) => {
                this.$root.$emit('informationModal', 'Erreur lors de l\'enregistrement!', err);
            })
        },
        checkFormTicket: function (e) {
            e.preventDefault();
            if (this.$data.name && this.$data.desc) {
                let ticket = new Ticket();
                ticket.name = this.$data.name;
                ticket.desc = this.$data.desc;
                ticket.id_list = this.$data.list.id;
                this.create(ticket)
                return true;
            }
            let errors = [];
            !this.$data.name ? errors.push('Le ticket doit avoir un nom!'):null;
            !this.$data.position ? errors.push('Le ticket doit avoir une description!'):null;
            this.$root.$emit('informationModal', 'Erreur du formulaire!', errors.join(" "));
            return false;
        },
    },
    created: function() {
        this.$data.list = this.$route.params.list;
        this.$data.project = this.$route.params.project;
    }
}
</script>

<style>

</style>
