<template>
    <div>
        <Header title="Modifier un ticket" active='ticket'></Header>
        <div class="container" id="ticket-update">
            <form  id="formticket" @submit="checkFormTicket">
                <div class="form-group">
                    <label for="name">Nom du ticket</label>
                    <input name="name" v-model="name" type="text" class="form-control" id="name" v-bind:placeholder="name">
                </div>
                <div class="form-group">
                    <label for="desc">Description</label>
                    <input name="desc" v-model="desc" type="text" class="form-control" id="desc" v-bind:placeholder="desc">
                </div>
                <button type="submit" class="btn btn-primary" id="update-ticket">Modifier</button>
            </form>
        </div>
    </div>
</template>

<script>
import Header from '@/components/Header';
import User from '@/user.js';
import Ticket from '@/model/Ticket';
import API from '@/API.js';
import router from '@/router.js';

export default {
    data: function() {
        return {
            name: null,
            desc: null,
            id_list: null,
            id: null,
            project: null
        }
    },
    components: {
        Header
    },
    created: function() {
        let ticket = this.$route.params.ticket;
        this.$data.project = this.$route.params.project;
        this.$data.name = ticket.name;
        this.$data.desc = ticket.desc;
        this.$data.id_list = ticket.id_list;
        this.$data.id = ticket.id;
    },
    methods: {
        checkFormTicket: function (e) {
            e.preventDefault();
            if (this.$data.name && this.$data.desc && this.$data.id_list) {
                let ticket  = new Ticket();
                ticket.id = this.$data.id;
                ticket.name = this.$data.name;
                ticket.desc = this.$data.desc;
                ticket.id_list = this.$data.id_list;
                this.update(ticket)
                return true;
            }
            let errors = [];
            !this.$data.name ? errors.push('La liste doit avoir un nom!'):null;
            !this.$data.desc ? errors.push('La liste doit avoir une position!'):null;
            !this.$data.descist ? errors.push('Le ticket doit avoir une liste!'):null;
             this.$root.$emit('informationModal', 'Erreur du formulaire!', errors.join(" "));
            return false;
        },
        update: function (ticket) {
            API.updateTicket(User, ticket).then(() => {
                this.$root.$emit('informationModal', 'Modifié!', "Le ticket " + ticket.name + " à été modifié!");
                setTimeout(() => { 
                    router.push({name: 'ticket-list', params: {project: this.$data.project}});
                }, 2000);
            }).catch((err) => {
                this.$root.$emit('informationModal', 'Erreur lors de la modification!', err);
            })
        }
    }
}
</script>

<style scoped>

</style>
