<template>
    <div>
        <Header title="List de ticket" active='project'></Header>
        <ul class="nav justify-content-center" id="ticket-tab">
            <li v-for="list in lists"  v-bind:key="list.id" class="nav-item list-button" v-on:click="changeList($event, list)">
                <a class="nav-link" v-bind:class="{ active: list.id==listActive.id }" :href="list.id">{{ list.name }}</a>
            </li>
        </ul>
        <TocketInnerList v-if="listActive" v-bind:list="listActive"  v-bind:project="project" v-bind:lists="lists"></TocketInnerList>
    </div>
</template>

<script>
import Header from '@/components/Header';
import User from '@/user.js';
import List from '@/model/List';
import API from '@/API.js';
import TocketInnerList from '@/views/ticket/TocketInnerList';

export default {
    data: function(){
        return {
            lists: [],
            listActive: null,
            rights:  User.getTempRight(),
            project: null
        }
    },
    components: {
        Header,
        TocketInnerList
    },
    created: function() {
        this.$data.project = this.$route.params.project;
        API.getList(User, this.$data.project.id).then((r) => {
            this.$data.lists = [];
            let listUnorder = [];
            for (var i = 0, len = r.data.length; i < len; i++) {
                let list = new List();
                switch(User.getMode()){
                    case 'trello': list.loadFromTrello(r.data[i]); break;
                    case 'DCPM': list.loadFromDCPM(r.data[i]); break;
                }
                listUnorder.push(list);
                if(i==0){
                    this.$data.listActive = list;
                }
            }
            this.$data.lists = listUnorder.sort((a,b) => {
                if(a.position>b.position){
                    return 1;
                } else if(a.position<b.position) {
                    return -1
                } else {
                    return 0
                }
            });
            if(!this.$data.listActive){
                this.$data.listActive = {id: 0}
            }
        }).catch((err) => {
            this.$root.$emit('informationModal', 'Erreur de récupération', err)
        });
        User.getRights()
        .then((newRights) => {this.$data.rights = newRights;})
        .catch(() => {this.$data.rights = User.getTempRight();})
    },
    methods: {
        changeList(event, list) {
            event.preventDefault();
            this.$data.listActive = list;
        }
    }
}
</script>

<style scoped>
.active {
    background-color: #ddd;
}

.list-button {
    margin: 8px;
    box-shadow: 0 0 3px #aaa;
    border-radius: 8px;
}

#ticket-tab {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

</style>
