<template>
    <div class="container">
        <Search></Search>
        <div class="row" v-if="rights.ticket.get" id="new-button">
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-success" v-on:click="newTicket()">Nouveau Ticket</button>
            </div>
        </div>
        <div class="row" id="card-list">
            <div class="col-sm-12 list-card" v-for="ticket in tickets" v-bind:key="ticket.id">
                <div v-if="showElement(ticket)" class="card-body">
                    <div id="label-list" v-for="label in ticket.labels" v-bind:key="label.id">
                        <Label v-bind:label="label"></Label>
                    </div>
                    <h5 class="card-title">{{ ticket.name }} <button type="button" class="btn btn-warning"
                            v-on:click="editTicket($event, ticket)" v-if="rights.ticket.put"><i class="fas fa-pen"></i></button></h5>
                    <p class="card-text">{{ ticket.desc }}</p>
                    <div class="action-buttons">
                        <button type="button" class="btn btn-primary" v-on:click="moveTicketBack($event, ticket)"
                            v-if="rights.ticket.put"><i class="fas fa-arrow-left"></i></button>
                        <button type="button" class="btn btn-primary" v-on:click="moveTicketNext($event, ticket)"
                            v-if="rights.ticket.put"><i class="fas fa-arrow-right"></i></button>
                        <button v-if="rights.ticket.delete" data-toggle="modal" data-target="#deleteModal"
                            class="btn btn-danger" v-on:click="deleteTicket($event, ticket)"><i class="fas fa-trash"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import User from '@/user.js';
import Ticket from '@/model/Ticket.js';
import API from '@/API.js';
import Search from '@/components/Search';
import Label from '@/components/Label';
import router from '@/router.js';

export default {
    components: {
        Search,
        Label
    },
    data: function(){
        return {
            tickets: [],
            rights:  User.getTempRight(),
            search: ''
        }
    },
    props: [
        'list', 'project', 'lists'
    ],
    watch: {
        list: function() { 
            this.reloadTicket();
        }
    },
    created: function(){
        this.reloadTicket();
        User.getRights()
        .then((newRights) => {this.$data.rights = newRights;})
        .catch(() => {this.$data.rights = User.getTempRight();})
        this.$root.$on('search', this.searchList)
    },
    destroyed() {
        this.$root.$off('search', this.searchList)
    },
    methods: {
        newTicket() {
            router.push({name: 'ticket-create', params: {
                list: this.$props.list,
                project: this.$props.project
            }});
        },
        reloadTicket() {
            API.getTickets(User, this.$props.list).then((r) => {
                this.$data.tickets = [];
                let ticketUnorder = [];
                for (var i = 0, len = r.data.length; i < len; i++) {
                    let ticket = new Ticket();
                    switch(User.getMode()){
                        case 'trello': ticket.loadFromTrello(r.data[i], this.$props.list.id); break;
                        case 'DCPM': ticket.loadFromDCPM(r.data[i], this.$props.list.id); break;
                    }
                    ticketUnorder.push(ticket);
                }
                 this.$data.tickets = ticketUnorder.sort();
            }).catch((err)=> {
                this.$root.$emit('informationModal', 'Erreur de récupération', err)
            });
        },
        moveTicketBack(event, ticket){
            event.preventDefault();
            let posActual = this.$props.lists.indexOf(this.$props.list);
            if(posActual>0){
                API.moveTicket(User, ticket, this.$props.lists[posActual-1]).then(() => {
                    this.$root.$emit('informationModal', 'Ticket déplacé', 'Ticket déplacé vers '+this.$props.lists[posActual-1].name);
                    this.$data.tickets.splice(this.$data.tickets.indexOf(ticket), 1);
                }).catch((err) => {
                    this.$root.$emit('informationModal', 'Erreur de déplacement', err);
                });
            } else {
                this.$root.$emit('informationModal', 'Erreur de déplacement', 'Pas de liste vers laquel déplacer le ticket!');
            }
        },
        moveTicketNext(event, ticket){
            event.preventDefault();
            let posActual = this.$props.lists.indexOf(this.$props.list);
            if(posActual<this.$props.lists.length-1){
                API.moveTicket(User, ticket, this.$props.lists[posActual+1]).then(() => {
                    this.$root.$emit('informationModal', 'Ticket déplacé', 'Ticket déplacé vers '+this.$props.lists[posActual+1].name);
                    this.$data.tickets.splice(this.$data.tickets.indexOf(ticket), 1);
                }).catch((err) => {
                    this.$root.$emit('informationModal', 'Erreur de déplacement', err);
                });
            } else {
                this.$root.$emit('informationModal', 'Erreur de déplacement', 'Pas de liste vers laquel déplacer le ticket!');
            }
        },
        deleteTicket(e, ticket){
            e.preventDefault();
            this.$root.$emit('choseModal', 'Supprimer le ticket', 'Voulez-vous supprimer le ticket '+ticket.name+'?','Ne rien faire', 'Ne rien faite', 'Supprimer', null, null,
            () => {
                API.deleteTicket(User, ticket).then(() => {
                    this.$data.tickets.splice(this.$data.tickets.indexOf(ticket), 1);
                }).catch((err) => {
                    this.$root.$emit('informationModal', 'Erreur de suppression!', err);
                })
            });
        },
        editTicket(e, ticket){
            e.preventDefault();
            router.push({name: 'ticket-update', params: {ticket: ticket, list: this.$props.list, project: this.$props.project}});
        },
        searchList(value) {
            this.$data.search = value;
        },
        showElement(ticket){
            let inLabel = false;
            ticket.labels.forEach((label) => {
                if(label.name.toUpperCase().indexOf(this.$data.search.toUpperCase())>=0) {
                    inLabel = true;
                }
            });
            return inLabel || ticket.name.toUpperCase().indexOf(this.$data.search.toUpperCase()) >= 0
                    || ticket.desc.toUpperCase().indexOf(this.$data.search.toUpperCase()) >= 0
        }
    }
}
</script>

<style scoped>
#new-button {
    margin: 16px;
}

#card-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.list-card {
    width: 90vw;
    max-width: 400px;
    box-shadow: 0 0 3px #aaa;
    margin: 16px;
    border-radius: 4px;
}

.action-buttons {
    margin-top: 16dx;
    display: flex;
    flex-wrap: wrap;
}

.action-buttons > * {
    margin: 4px;
}

#label-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 8px;
}

</style>
