<template>
     <div>
        <b-modal ref="chose-modal" hide-footer v-bind:title="modalTitle">
            <div class="d-block text-center">
                <p>{{modalText}}</p>
            </div>
            <b-button variant="outline-danger" @click="dangerFunction">{{dangerText}}</b-button>
            <b-button variant="outline-warning" @click="warnFunction">{{warningText}}</b-button>
            <b-button variant="outline-primary" @click="closeFunction">{{closeText}}</b-button>
        </b-modal>
    </div>
</template>

<script>
export default {
    data: function(){
        return {
            warningText: 'Attention',
            dangerText: 'Danger',
            closeText: 'Fermer',
            modalTitle: '',
            modalText: '',
            warnginFunc: function() {},
            dangerFunc: function() {},
            closeFunc: function() { },
        }
    },
    methods: {
        showModal(title, text, closeText, warningText, dangerText, closeFunc, warnginFunc, dangerFunc){
            this.$data.modalTitle = title;
            this.$data.modalText = text;
            this.$data.closeText = closeText ? closeText : 'Fermer';
            this.$data.warningText = warningText ? warningText : 'Attention';
            this.$data.dangerText = dangerText ? dangerText : 'Danger';
            this.$data.closeFunc = closeFunc ? closeFunc : () => {};
            this.$data.warnginFunc = warnginFunc ? warnginFunc : () => {};
            this.$data.dangerFunc = dangerFunc ? dangerFunc : () => {};
            this.$refs['chose-modal'].show()
        },
        closeFunction(){
            this.$data.closeFunc();
            this.$refs['chose-modal'].hide()
        },
        warnFunction(){
            this.$data.warnginFunc();
            this.$refs['chose-modal'].hide()
        },
        dangerFunction(){
            this.$data.dangerFunc();
            this.$refs['chose-modal'].hide()
        }
    },
    created() {
        this.$root.$on('choseModal', this.showModal)
    },
    destroyed() {
        this.$root.$off('choseModal', this.showModal)
    } 
}
</script>

<style>

</style>
