<template>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/project-list">{{title}}</a>
    <button class="navbar-toggler" type="button" v-b-toggle.header-1 aria-label="Afficher menu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <b-collapse class="collapse" id="header-1">
        <ul class="navbar-nav">
            <li class="nav-item" v-bind:class="{ active: active=='project' }"  v-if="rights.project.get">
                <router-link  class="nav-link" to="/project-list">Projets</router-link>
            </li>
            <li class="nav-item"  v-bind:class="{ active: active=='group' }" v-if="rights.group.get">
                <router-link  class="nav-link" to="/group-list">Groups</router-link>
            </li>
            <li class="nav-item" v-bind:class="{ active: active=='user' }" v-if="rights.user.get">
                <router-link  class="nav-link" to="/user-list">Utilisateurs</router-link>
            </li>
            <li class="nav-item" v-bind:class="{ active: active=='right' }" v-if="rights.right.get">
                <router-link  class="nav-link" to="/right-list">Droits</router-link>
            </li>
            <li class="nav-item">
                <router-link  class="nav-link" to="/deconnexion">Déconnexion</router-link>
            </li>
        </ul>
    </b-collapse>
</nav>

</template>

<script>
import User from '@/user.js';

export default {
    props: [
        'title', 'active'
    ],
    data: function (){
        return {
            rights:  User.getTempRight()
        }
    },
    created() {
        User.getRights()
        .then((newRights) => {this.$data.rights = newRights;})
        .catch(() => {this.$data.rights = User.getTempRight();})
    }
}


</script>

<style scoped>

</style>
