<template>
    <div>
        <b-modal ref="info-modal" hide-footer v-bind:title="title">
            <div class="d-block text-center">
                <p>{{text}}</p>
            </div>
            <b-button variant="outline-primary" @click="hideModal">OK</b-button>
        </b-modal>
    </div>
</template>

<script>
export default {
    data: () => {
        return {
            text: '',
            title: '',
        }
    },
    methods: {
        showIt(title, text){
            this.$data.title = title;
            this.$data.text = text;
            this.showModal();
        },
        showModal() {
            this.$refs['info-modal'].show()
        },
        hideModal() {
            this.$refs['info-modal'].hide()
        },
        toggleModal() {
        }
    },
    created() {
        this.$root.$on('informationModal', this.showIt)
    },
    destroyed() {
        this.$root.$off('informationModal', this.showIt)
    }    
}
</script>

<style scoped>

</style>

