<template>
    <div id="install-buttons">
        <div v-if="canInstall" id="installation-button" name="pwa" v-on:click="installApp($event)"><span>Installer</span></div>
        <div v-if="canInstall" id="not-installation-button" name="pwa" v-on:click="notInstallApp($event)"><span>Ne pas installer</span></div> 
    </div>
</template>

<script>
export default {
    data: function () {
        return {
            canInstall: false,
            installEvent: null
        }
    },
    created() {
        window.addEventListener('beforeinstallprompt', e => {
            e.preventDefault();
            this.$data.canInstall = true;
            this.$data.installEvent = e;
        });
    },
    methods: {
        installApp: function(e) {
            e.preventDefault();
            this.$data.installEvent.prompt();
            this.$data.canInstall = false;
        },
        notInstallApp: function(e) {
            e.preventDefault();
            this.$data.canInstall = false;
        }
    }
}
</script>

<style scoped>
#install-buttons {
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

#install-buttons > div {
    height: 50px;
    width: 50vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#install-buttons > div > span {
    vertical-align: center;
}


#installation-button {
    background-color: #4CAF50;
    color: #fff;
}
#not-installation-button {
    background-color: #f44336;
    color: #fff;
}

</style>
