<template>
    <div class="label" v-bind:style="bgc">
        <span>{{ label.name }}</span>
    </div>
</template>

<script>
export default {
    props: {
        'label': Object
    },
    data: function() {
        return {
            bgc: {
                backgroundColor: this.$props.label.color
            }
        }
    }
}
</script>

<style scoped>
    .label {
        padding: 3px 6px;
        margin: 3px 6px;
        font-size: 0.7rem;
        color: #fff;
        border-radius: 4px;
    }
</style>

