<template>
    <div id="search-form">
        <input name="search" v-model="search" type="text" class="form-control" id="search" placeholder="Recherche" v-on:input="updateSearch($event)">
    </div>
</template>

<script>
export default {
    data: function(){
        return {
            search: '',
            timeout: null,
        }
    },
     methods: {
        updateSearch(){
            this.$data.lastUpdate = Date.now();
            if(this.$data.timeout)
                clearTimeout(this.$data.timeout);
            this.$data.timeout = setTimeout(this.emitUpdate, 500);
        },
        emitUpdate(){
            this.$root.$emit('search',this.$data.search);
        }
    },
}
</script>

<style>
#search {
    height: 50px;
}
</style>
