<template>
    <div>
        <Header title="List utilisateur" active='user'></Header>
        <Search></Search>
        <div class="row" v-if="rights.user.post">
            <div class="col-md-12 text-center">
                <button type="button" class="btn btn-success" id="new-user-button" v-on:click="createUser($event)">Nouvel utilisateur</button>
            </div>
        </div>

        <div class="row" >
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12 card" v-for="user in users" v-bind:key="user.id">
                <UserCard v-if="showElement(user)" v-bind:user="user"></UserCard>
            </div>
        </div>
    </div>
</template>

<script>
import Header from '@/components/Header';
import UserCard from '@/components/user/UserCard';
import User from '@/user.js';
import Search from '@/components/Search';
import API from '@/API.js';
import UserModel from '@/model/User.js';
import router from '@/router.js';

export default {
    data: function(){
        return {
            users: [],
            rights:  User.getTempRight(),
            search: ''
        }
    },
    components: {
        Header,
        UserCard,
        Search
    },
    created: function() {
        API.getUsers(User).then((r) => {
            r.data.forEach(apiUser => {
                let userModel = new UserModel();
                switch(User.getMode()){
                    case 'DCPM': userModel.loadFromDCPM(apiUser); break;
                }
                this.$data.users.push(userModel);
            });
        }).catch((err) => {
            this.$root.$emit('informationModal', 'Erreur de récupération', err)
        })
        this.$root.$on('search', this.searchList)
        this.$root.$on('deleteUser', this.deleteUser)
        User.getRights()
        .then((newRights) => {this.$data.rights = newRights;})
        .catch(() => {this.$data.rights = User.getTempRight();})
    },
    methods: {
        deleteUser(userModel){
            this.$root.$emit('choseModal', 'Supprimer l\'utilisateur', 'Voulez-vous supprimer l\'utilisateur '+userModel.login+'?','Ne rien faire', 'Fermer', 'Supprimer', null, null,
            () => {
                API.deleteUser(User, userModel).then(() => {
                    this.$data.users.splice(this.$data.users.indexOf(userModel), 1);
                }).catch((err) => {
                    this.$root.$emit('informationModal', 'Erreur de suppression!', err);
                })
            });
        },
        createUser(){
            router.push('user-create');
        },
        searchList(value) {
            this.$data.search = value;
        },
        showElement(user){
            return user.login.toUpperCase().indexOf(this.$data.search.toUpperCase()) >= 0
        }
    },
    destroyed() {
        this.$root.$off('search', this.searchList)
        this.$root.$off('deleteUser', this.deleteUser)
    }
}
</script>


<style scoped>

</style>
