<template>
    <div>
        <Header title="Créer un utilisateur" active='user'></Header>
        <div class="container" id="list-user">
            <form  id="formuser" @submit="checkFormUser">
                <div class="form-group">
                    <label for="login">Login</label>
                    <input name="login" v-model="login" type="text" class="form-control" id="login" placeholder="login_utilisateur">
                </div>
                <div class="form-group">
                    <label for="password">Mot de passe</label>
                    <input name="password" v-model="password" type="password" class="form-control" id="password" placeholder="********">
                </div>
                <div class="form-group">
                    <label for="password2">Répéter le mot de passe</label>
                    <input name="password2" v-model="password2" type="password" class="form-control" id="password2" placeholder="********">
                </div>
                <div class="form-group">
                    <b-form-group label="Groups:">
                    <b-form-checkbox-group
                        id="groups-selected"
                        v-model="groupsSelected"
                        :options="allGroups"
                        name="select1"
                    ></b-form-checkbox-group>
                    </b-form-group>
                </div>
                <button type="submit" class="btn btn-primary" id="create-user">Créer</button>
            </form>
        </div>
    </div>
</template>

<script>
import Header from '@/components/Header';
import User from '@/user.js';
import UserModel from '@/model/User';
import API from '@/API.js';
import router from '@/router.js';

export default {
    data: function() {
        return {
            login: null,
            password: null,
            password2: null,
            groupsSelected: null,
            id: null,
            allGroups: []
        }
    },
    components: {
        Header
    },
    methods: {
        create: function (user) {
            API.createUser(User, user).then(() => {
                this.$root.$emit('informationModal', 'Enregistré!', "L'utilisateur " + " à été enregistré!");
                setTimeout(() => { router.push('user-list'); }, 2000);
            }).catch((err) => {
                this.$root.$emit('informationModal', 'Erreur lors de l\'enregistrement!', err);
            })
        },
        checkFormUser: function (e) {
            e.preventDefault();
            let errors = [];
            (!this.$data.login) ? errors.push('L\'utilisateur doit avoir un login!') : null;
            (!this.$data.password) ? errors.push('L\'utilisateur doit avoir un mot de passe!') : null;
            (!this.$data.password2) ? errors.push('Vous devez confirmer le mot de passe!') : null;
            (this.$data.password != this.$data.password2) ? errors.push('Les mots de passes doivent êtres identiques!') : null;

            if(errors.length){
                this.$root.$emit('informationModal', 'Erreur du formulaire!', errors.join(" "));
                return false;
            }
            else {
                let user  = new UserModel();
                user.login = this.$data.login;
                user.password = this.$data.password;
                if(this.$data.groupsSelected){
                    user.groups = this.$data.groupsSelected;
                }
                this.create(user);
            }
        }
    },
    created: function() {
        API.getGroups(User).then((r) => {
            r.data.forEach(group => {
                this.$data.allGroups.push({text: group.name, value: group.id});
            });
        }).catch((err) => {
            this.$root.$emit('informationModal', 'Erreur lors du chargement des groups!', err);
        })
    }
}
</script>
