<template>
  <div id="app">
    <InstallPrompt></InstallPrompt>
    <router-view/>
    <InformationModal></InformationModal>
    <ChoiseModal></ChoiseModal>
  </div>
</template>

<script>
import InformationModal from '@/components/InformationModal';
import ChoiseModal from '@/components/ChoiseModal';
import InstallPrompt from '@/components/InstallPrompt';

export default {
  name: 'app',
  components: {
    InformationModal,
    ChoiseModal,
    InstallPrompt
  }
}
</script>

<style>
#app {
  
}
</style>
