<template>
    <div>
        <div class="card-body">
            <h5 class="card-title">{{ group.name }} <button type="button" class="btn btn-warning" v-if="rights.group.put" v-on:click="editGroup()"><i class="fas fa-pen"></i></button></h5>
            <h6>Droits:</h6>
            <ul>
                <li v-for="groupRight in groupRights" v-bind:key="groupRight.id">
                    {{ groupRight.route }} {{ groupRight.methode}}
                </li>
            </ul>
            <button v-if="rights.group.delete" class="btn btn-danger" v-on:click="deleteGroup()" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash"></i></button>
        </div>
    </div>
</template>

<script>
import User from '@/user.js';
import router from '@/router.js';

export default {
    props: {
        'group': Object
    },
    data: function() {
        return {
            rights:  User.getTempRight(),
            groupRights: []
        }
    },
    methods: {
        deleteGroup() {
            this.$root.$emit('deleteGroup', this.$props.group)
        },
        editGroup() {
            router.push({name: 'group-update', params: {group: this.$props.group}})
        }
    },
    created() {
        User.getRights()
        .then((newRights) => {this.$data.rights = newRights;})
        .catch(() => {this.$data.rights = User.getTempRight();})
        this.$data.groupRights = this.$props.group.rights;
    }
}
</script>

<style>

</style>
